/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--text-color);
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background-color: var(--body-background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

img,
a,
button,
input,
textarea,
section {
  font-family: inherit;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

.icon {
  filter: var(--icon-color);
}

#centerItem, .about__item, .slider__list, .navbar__list {
  display: flex;
  align-items: center;
}

#centerItemAll, .pricing__info__item, .studies-top__btn, .about__item__btn, .about__item__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
}

.btn {
  padding: 0 20px;
  background: linear-gradient(135deg, rgb(48, 194, 241) 0%, rgb(146, 90, 164) 100%);
  border-radius: 50px;
  font-size: 1.3rem;
  text-transform: "";
  line-height: 42px;
  white-space: nowrap;
  color: #fff;
  box-shadow: 0 6px 16px rgba(146, 90, 164, 0.3);
}
.btn:hover {
  cursor: pointer;
  background: linear-gradient(135deg, rgb(146, 90, 164) 0%, rgb(48, 194, 241) 100%);
}

.menu {
  display: none;
}
@media (max-width: 991.98px) {
  .menu {
    display: block;
    padding: 5px 10px;
    background: #f6f6f6;
    border-radius: 4px;
  }
  .menu > svg {
    width: 50px;
    height: 30px;
    object-fit: cover;
  }
}

.close {
  display: none;
}
@media (max-width: 991.98px) {
  .close {
    display: block;
    position: absolute;
    right: 10px;
    top: 25px;
    translate: 0 -50%;
  }
  .close:hover {
    cursor: pointer;
  }
  .close > svg {
    width: 20px;
    height: 20px;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  padding: 15px 0;
  background-color: #fff;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 12px 0px;
  z-index: 99;
}
.header__inner {
  display: flex;
  align-items: center;
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 991.98px) {
  .header__inner {
    justify-content: initial;
  }
}
.header__inner > a {
  height: 46.91px;
}
.header__btn {
  min-width: 150px;
  margin-left: 15px;
  text-transform: uppercase;
}
@media (max-width: 991.98px) {
  .header__btn {
    margin-left: auto;
    margin-right: 20px;
  }
}
@media (max-width: 480px) {
  .header__btn {
    min-width: auto;
    padding: 0 10px;
  }
}

.navbar {
  margin-left: auto;
}
@media (max-width: 991.98px) {
  .navbar {
    display: none;
    position: fixed;
    width: 300px;
    top: 0;
    bottom: 0;
    right: -300px;
    background-color: #fff;
    box-shadow: -2px 0 16px rgba(0, 0, 0, 0.1);
    transition: 2s;
  }
}
.navbar.open {
  display: flex;
  right: 0;
}
@media (max-width: 991.98px) {
  .navbar__list {
    padding: 50px 0;
    flex-direction: column;
    align-items: start;
  }
}
@media (max-width: 991.98px) {
  .navbar__item {
    width: 100%;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
}
.navbar__link {
  padding: 7.5px 15px;
  font-family: Poppins;
  font-size: 1.4rem;
  line-height: 42px;
  color: #2e3337;
}
@media (max-width: 991.98px) {
  .navbar__link {
    display: block;
    width: 100%;
    font-size: 1.6rem;
    padding: 10px 20px;
    color: #222;
  }
}
.navbar__link:hover {
  color: #007bff;
}

.logo {
  max-width: 155px;
  height: 46.91px;
  object-fit: contain;
}

.slider__list {
  position: relative;
}
.slider__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background-image: url(/assets/img/slider-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__item::before {
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.slider__item > .container {
  z-index: 2;
}
.slider__item__info {
  max-width: 75%;
}
@media (max-width: 991.98px) {
  .slider__item__info {
    max-width: 74.3243243243%;
  }
}
@media (max-width: 767.98px) {
  .slider__item__info {
    max-width: 100%;
  }
}
.slider__item__heading, .slider__item__title {
  font-family: "Nunito", sans-serif;
  text-transform: "";
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: 800;
  color: #fff;
  line-height: 1.2;
}
.slider__item__title {
  margin-bottom: 8px;
  font-size: 2.4rem;
}
@media (max-width: 991.98px) {
  .slider__item__title {
    font-size: 2rem;
  }
}
@media (max-width: 767.98px) {
  .slider__item__title {
    font-size: 1.8rem;
  }
}
.slider__item__heading {
  margin: 20px 0;
  font-size: 7.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
@media (max-width: 991.98px) {
  .slider__item__heading {
    font-size: 4.8rem;
  }
}
@media (max-width: 767.98px) {
  .slider__item__heading {
    font-size: 3.8rem;
  }
}
.slider__item__desc {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.slider__item__btn {
  margin-top: 15px;
  min-width: 175px;
  text-transform: uppercase;
}

.list__dot {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  gap: 25px;
  right: 20px;
  top: calc(50% - 38.45px);
  translate: 0 50%;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .list__dot {
    display: none;
  }
}

.dot {
  width: 20px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
}
.dot__active {
  width: 50px;
  background-color: #fff;
}

.about {
  position: relative;
  padding: 80px 0;
}
@media (max-width: 767.98px) {
  .about {
    padding: 40px 0;
  }
}
.about__top {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 767.98px) {
  .about__top {
    flex-direction: column;
  }
}
.about__content {
  max-width: 48.6486486486%;
}
@media (max-width: 767.98px) {
  .about__content {
    flex-shrink: 0;
    max-width: 100%;
  }
}
.about__title {
  font-family: "Nunito", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  color: #39b9eb;
}
@media (max-width: 767.98px) {
  .about__title {
    font-size: 1.6rem;
  }
}
.about__heading {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 25px;
  margin-top: 10px;
  font-family: "Nunito", sans-serif;
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.2;
  color: #34406c;
}
@media (max-width: 767.98px) {
  .about__heading {
    font-size: 2.8rem;
  }
}
.about__heading::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 2px;
  background-color: #39b9eb;
  bottom: 0;
  left: 0;
}
.about__desc {
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  color: #7e7e7e;
  line-height: 1.8571428571;
}
.about__thumb {
  max-width: 540px;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .about__thumb {
    max-width: 100%;
  }
}
.about__img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.about__bottom {
  margin-top: 50px;
}
.about__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  z-index: 1;
}
@media (max-width: 991.98px) {
  .about__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.98px) {
  .about__list {
    grid-template-columns: 1fr;
  }
}
.about__item {
  flex-direction: column;
  padding: 45px 20px 30px;
  box-shadow: 0 10px 29.7px 0.3px rgba(225, 225, 225, 0.64);
  text-align: center;
  transition: 0.45s;
  z-index: 5;
}
.about__item__icon {
  margin-bottom: 25px;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}
.about__item__icon > svg {
  fill: #39b9eb;
  width: 23.2px;
  height: 23.2px;
}
.about__item__title {
  margin-bottom: 8px;
  font-family: "Nunito", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #232323;
  transition: 0.45s;
}
.about__item__desc {
  padding-top: 10px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.7333333333;
  color: rgb(97, 97, 97);
  margin-bottom: 20px;
  transition: 0.45s;
}
.about__item__btn {
  width: 45px;
  height: 45px;
  background-color: #39b9eb;
  border-radius: 50%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.45s;
}
.about__item__btn > svg {
  fill: #fff;
  width: 20px;
  height: 20px;
}
.about__item__btn:hover {
  cursor: pointer;
}
.about__item:hover {
  background: linear-gradient(135deg, rgb(146, 90, 164) 0%, rgb(48, 194, 241) 100%);
}
.about__item:hover .about__item__btn {
  background-color: #fff;
}
.about__item:hover .about__item__btn > svg {
  fill: #39b9eb;
}
.about__item:hover .about__item__title,
.about__item:hover .about__item__desc {
  color: #fff;
}
.about__icon {
  position: absolute;
  content: "";
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 70px solid rgba(221, 221, 221, 0.3);
  top: 50%;
  left: -250px;
  translate: 0 -50%;
  z-index: -1;
}

.studies {
  color: #fff;
}
.studies-top {
  padding: 80px 0 175px;
  background-color: rgb(47, 195, 242);
}
.studies-top__wrap {
  display: flex;
}
.studies-top__content {
  max-width: 85%;
}
.studies-top__title {
  font-family: Nunito, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2;
}
@media (max-width: 767.98px) {
  .studies-top__title {
    font-size: 1.6rem;
  }
}
.studies-top__heading {
  position: relative;
  padding-bottom: 20px;
  margin-top: 8px;
  margin-bottom: 25px;
  font-family: Nunito, sans-serif;
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.2;
}
@media (max-width: 767.98px) {
  .studies-top__heading {
    font-size: 2.8rem;
  }
}
.studies-top__heading::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 2px;
  background-color: #fff;
  left: 0;
  bottom: 0;
}
.studies-top__desc {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.625;
}
@media (max-width: 767.98px) {
  .studies-top__desc {
    font-size: 1.4rem;
  }
}
.studies-top__action {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
@media (max-width: 767.98px) {
  .studies-top__action {
    display: none;
  }
}
.studies-top__btn {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.25s;
}
.studies-top__btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
.studies-top__btn:nth-child(1) > svg {
  rotate: 180deg;
}
.studies-bottom {
  position: relative;
  background-color: #f5f7fe;
}
.studies-bottom__img {
  position: relative;
  content: "";
  max-width: 78.1981981982%;
  object-fit: cover;
  top: -150px;
  left: 50%;
  translate: -50%;
}

.services {
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #f5f7fe;
}
@media (max-width: 767.98px) {
  .services {
    padding-top: 0;
  }
}
.services__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__title {
  margin-bottom: 8px;
  font-family: "Nunito", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  color: #39b9eb;
}
@media (max-width: 767.98px) {
  .services__title {
    font-size: 1.6rem;
  }
}
.services__heading {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 25px;
  font-family: "Nunito", sans-serif;
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  color: #34406c;
}
@media (max-width: 767.98px) {
  .services__heading {
    font-size: 2.8rem;
  }
}
.services__heading::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 2px;
  background-color: #39b9eb;
  bottom: 0;
  left: 50%;
  translate: -50%;
}
.services__desc {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  color: #7e7e7e;
  line-height: 1.8571428571;
  text-align: center;
}
.services__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 991.98px) {
  .services__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.98px) {
  .services__list {
    grid-template-columns: 1fr;
  }
}
.services__item {
  background-color: #fff;
  box-shadow: 0 10px 29.7px 0.3px rgba(225, 225, 225, 0.64);
}
.services__item:hover {
  background: linear-gradient(135deg, rgb(146, 90, 164) 0%, rgb(48, 194, 241) 100%);
  transition: 0.4s;
}
.services__item:hover .services__item__icon > svg {
  fill: #fff;
}
.services__item:hover .services__item__title,
.services__item:hover .services__item__desc {
  color: #fff;
}
.services__item:hover .services__item__btn {
  background: #fff;
  color: #39b9eb;
}
.services__item__info {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: 0.4s;
}
.services__item__icon {
  margin: 15px 0;
  height: 36.4px;
}
.services__item__icon > svg {
  width: 32px;
  height: 32px;
  fill: #39b9eb;
  transition: 0.4s;
}
.services__item__title {
  margin-bottom: 8px;
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #34406c;
  transition: 0.4s;
}
.services__item__desc {
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  font-size: 1.4rem;
  line-height: 1.8571428571;
  color: rgb(126, 126, 126);
  transition: 0.4s;
}
.services__item__btn {
  min-width: auto;
  padding: 0 20px;
  margin: 0;
}

.team {
  margin-top: 80px;
}
@media (max-width: 767.98px) {
  .team {
    margin-top: 40px;
  }
}
.team-top {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.team-top__btn {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);
}
.team-top__action {
  position: absolute;
  right: 0;
  top: 15px;
}
@media (max-width: 767.98px) {
  .team-top__action {
    display: none;
  }
}
.team__title {
  margin-bottom: 8px;
  font-family: "Nunito", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #39b9eb;
  line-height: 1.2;
}
@media (max-width: 767.98px) {
  .team__title {
    font-size: 1.6rem;
  }
}
.team__heading {
  position: relative;
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-family: "Nunito", sans-serif;
  font-size: 3.6rem;
  font-weight: 800;
  color: #34406c;
  line-height: 1.2;
}
.team__heading::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 2px;
  background: #39b9eb;
  bottom: 0;
  left: 50%;
  translate: -50%;
}
@media (max-width: 767.98px) {
  .team__heading {
    font-size: 2.8rem;
  }
}
.team__desc {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8571428571;
  color: #7e7e7e;
}
.team__list {
  display: flex;
  margin-top: 25px;
  overflow: hidden;
}
.team__item {
  position: relative;
  width: 25%;
  padding: 0 15px;
  flex-shrink: 0;
  transition: 0.4s;
}
@media (max-width: 991.98px) {
  .team__item {
    width: 33.3333333333%;
  }
}
@media (max-width: 767.98px) {
  .team__item {
    width: 50%;
  }
}
.team__item:hover .team__item__info {
  top: 0;
}
.team__item__img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.team__item__info {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  transition: all ease 0.4s;
  z-index: 1;
}
.team__item__info::before {
  position: absolute;
  content: "";
  max-width: calc(100% - 30px);
  height: 100%;
  left: 15px;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(135deg, rgb(146, 90, 164) 0%, rgb(48, 194, 241) 100%);
  opacity: 0.9;
  transition: all ease 0.4s;
}
.team__item__name {
  margin-bottom: 8px;
  font-family: "Nunito", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2;
}

.counter {
  margin-top: 80px;
}
.counter__wrap {
  position: relative;
  padding: 80px 0;
  background: rgba(65, 186, 235, 0.95);
}
@media (max-width: 767.98px) {
  .counter__wrap {
    padding: 40px 0;
  }
}
.counter__wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}
.counter__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  color: #fff;
}
@media (max-width: 991.98px) {
  .counter__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.98px) {
  .counter__list {
    grid-template-columns: 1fr;
  }
}
.counter__item {
  padding-top: 10px;
  text-align: center;
}
.counter__item__title {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  line-height: 1.3;
  margin: 10px 0;
}
.counter__item__desc {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  line-height: 1.8571428571;
}

.love_count {
  padding-top: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 500;
}
.love_count > span {
  font-size: 75%;
  position: relative;
  top: -18px;
}

.testimonials {
  padding: 80px 0;
}
@media (max-width: 767.98px) {
  .testimonials {
    padding: 40px 0;
  }
}
.testimonials__inner {
  display: flex;
}
@media (max-width: 991.98px) {
  .testimonials__inner {
    flex-direction: column;
  }
}
.testimonials__left {
  padding-top: 18px;
  margin-bottom: 10px;
  max-width: 35%;
  flex-shrink: 0;
}
@media (max-width: 991.98px) {
  .testimonials__left {
    max-width: 100%;
  }
}
.testimonials__heading, .testimonials__title {
  font-family: Nunito, sans-serif;
  line-height: 1.2;
}
.testimonials__title {
  margin-bottom: 8px;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(57, 185, 235);
}
@media (max-width: 767.98px) {
  .testimonials__title {
    font-size: 1.6rem;
  }
}
.testimonials__heading {
  position: relative;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 3.6rem;
  font-weight: 800;
  text-transform: capitalize;
  color: #34406c;
}
@media (max-width: 767.98px) {
  .testimonials__heading {
    font-size: 2.8rem;
  }
}
.testimonials__heading::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 3px;
  background-color: #39b9eb;
  left: 0;
  bottom: 0;
}
.testimonials__desc {
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  font-size: 1.4rem;
  line-height: 1.8571428571;
  color: #7e7e7e;
}
.testimonials__right {
  width: 65%;
}
@media (max-width: 991.98px) {
  .testimonials__right {
    width: 100%;
  }
}

.evaluate__list {
  display: flex;
  padding: 15px;
  overflow: hidden;
}
.evaluate__item {
  flex-shrink: 0;
  width: 50%;
  padding: 0 10px;
}
@media (max-width: 767.98px) {
  .evaluate__item {
    width: 100%;
  }
}
.evaluate__item__content {
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  font-size: 1.4rem;
  line-height: 1.8571428571;
  color: #7e7e7e;
}
.evaluate__item__content__wrap {
  position: relative;
  padding: 15px;
}
.evaluate__item__content__wrap::after {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 20px;
  border-style: solid;
  border-width: 0 16px 24px 0;
  border-color: transparent #fff transparent transparent;
}
.evaluate__item__info {
  padding-top: 25px;
  margin-left: 35px;
}
.evaluate__item__name {
  font-family: Poppins, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.625;
  color: #39b9eb;
}
.evaluate__item__job {
  font-family: Poppins, sans-serif;
  font-size: 1.4rem;
  line-height: 1.8571428571;
  color: #7e7e7e;
}
.evaluate__active .evaluate__item__content__wrap {
  box-shadow: 0 10px 29.7px 0.3px rgba(225, 225, 225, 0.64);
}

.list__star {
  display: flex;
  gap: 5px;
  height: 26px;
}
.list__star > svg {
  fill: rgb(253, 208, 26);
}

.list__dot__evaluate {
  margin-top: 7px;
  height: 26px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot__evaluate {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #e5e5e5;
}

.dot__evaluate__active {
  background: linear-gradient(135deg, rgb(146, 90, 164) 0%, rgb(48, 194, 241) 100%);
}

.blog {
  padding: 80px 0;
  background-color: #f5f7fe;
}
@media (max-width: 767.98px) {
  .blog {
    padding: 40px 0;
  }
}
.blog__heading, .blog__title {
  font-family: Nunito, sans-serif;
  line-height: 1.2;
}
.blog__title {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #39b9eb;
}
@media (max-width: 767.98px) {
  .blog__title {
    font-size: 1.6rem;
  }
}
.blog__heading {
  margin-top: 12px;
  position: relative;
  padding-bottom: 17px;
  margin-bottom: 25px;
  font-size: 3.6rem;
  font-weight: 800;
  text-transform: capitalize;
  color: #34406c;
}
@media (max-width: 767.98px) {
  .blog__heading {
    font-size: 2.8rem;
  }
}
.blog__heading::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 2px;
  background-color: #39b9eb;
  left: 0;
  bottom: 0;
}
.blog__desc {
  font-family: Poppins, sans-serif;
  font-size: 1.4rem;
  line-height: 1.8571428571;
  color: #7e7e7e;
}
.blog__list {
  margin-top: 20px;
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 991.98px) {
  .blog__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.98px) {
  .blog__list {
    grid-template-columns: 1fr;
  }
}
.blog__item {
  position: relative;
}
.blog__item:hover::after {
  width: 100%;
}
.blog__item::after {
  position: absolute;
  content: "";
  width: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #39b9eb;
  height: 3px;
  transition: all ease 0.4s;
  margin: 0 auto;
}
.blog__item__info {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 10px 29.7px 0.3px rgba(225, 225, 225, 0.64);
}
.blog__item__img {
  display: block;
  width: 100%;
  background: #7e7e7e;
  object-fit: cover;
}
.blog__item__title {
  margin-bottom: 8px;
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #34406c;
}
.blog__item__desc {
  font-family: Poppins, sans-serif;
  font-size: 1.4rem;
  line-height: 1.8571428571;
  color: #7e7e7e;
}
.blog__item__btn {
  margin-left: 0;
  margin-top: 20px;
  width: auto;
  min-width: auto;
}
.blog__btn {
  margin-top: 45px;
  min-width: 200px;
}

.pricing {
  position: relative;
  padding: 80px 0;
  background: rgba(65, 186, 235, 0.76);
}
@media (max-width: 767.98px) {
  .pricing {
    padding: 40px 0;
  }
}
.pricing::before {
  content: "";
  position: absolute;
  background-color: #39b9eb;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;
}
.pricing__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 991.98px) {
  .pricing__list {
    grid-template-columns: 1fr;
  }
}
.pricing__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.4s;
}
.pricing__item:hover {
  border: 2px solid #fff;
  background: linear-gradient(135deg, rgb(146, 90, 164) 0%, rgb(48, 194, 241) 100%);
  color: #fff;
  transform: translateY(-8px);
}
.pricing__item:hover .pricing__item-middle,
.pricing__item:hover .pricing__item-top {
  background-color: transparent;
}
.pricing__item:hover .pricing__item__month,
.pricing__item:hover .pricing__item__year,
.pricing__item:hover .pricing__item__heading,
.pricing__item:hover .pricing__info__item {
  color: #fff;
}
.pricing__item:hover .pricing__item__month > svg,
.pricing__item:hover .pricing__item__year > svg,
.pricing__item:hover .pricing__item__heading > svg,
.pricing__item:hover .pricing__info__item > svg {
  fill: #fff;
}
.pricing__item:hover .pricing__item__btn {
  color: #222;
  background: #fff;
}
.pricing__item-top {
  width: 100%;
  padding: 50px 30px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  background-color: #fff;
}
.pricing__item__month {
  position: relative;
  padding: 0 45px 0 15px;
  color: #39b9eb;
  font-size: 7rem;
}
.pricing__item__month > span {
  position: absolute;
  top: 22px;
  left: 0;
  font-size: 2rem;
}
.pricing__item__month > em {
  font-style: normal;
  font-size: 2rem;
  position: absolute;
  right: 0;
  bottom: 22.5px;
}
.pricing__item__year {
  display: block;
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  line-height: 1.8571428571;
  color: #7e7e7e;
}
.pricing__item-middle {
  width: 100%;
  padding: 30px;
  background-color: #f5f6ff;
}
.pricing__item__heading {
  text-align: center;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2;
  color: #34406c;
  margin-bottom: 20px;
}
.pricing__item__btn {
  margin-top: 30px;
  min-width: 150px;
  margin-left: 50%;
  translate: -50%;
  text-transform: uppercase;
}

.pricing__info__item {
  gap: 10px;
  padding: 6px 0;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  line-height: 1.8571428571;
  color: rgb(126, 126, 126);
}

.contact {
  padding: 80px 0;
}
@media (max-width: 767.98px) {
  .contact {
    padding: 40px 0;
  }
}
.contact-top {
  text-align: center;
}
.contact__heading, .contact__title {
  font-family: Nunito, sans-serif;
  line-height: 1.2;
}
.contact__title {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #39b9eb;
}
@media (max-width: 767.98px) {
  .contact__title {
    font-size: 1.6rem;
  }
}
.contact__heading {
  margin-top: 8px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 25px;
  font-size: 3.6rem;
  font-weight: 800;
  text-transform: "";
  color: #34406c;
}
@media (max-width: 767.98px) {
  .contact__heading {
    font-size: 2.8rem;
  }
}
.contact__heading::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 3px;
  background-color: #39b9eb;
  left: 50%;
  bottom: 0;
  translate: -50%;
}
.contact__desc {
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  font-size: 1.4rem;
  line-height: 1.8571428571;
  color: #7e7e7e;
}
.contact-bottom {
  display: flex;
}
@media (max-width: 767.98px) {
  .contact-bottom {
    flex-direction: column;
  }
}
.contact-us {
  width: 41.666667%;
  padding-right: 15px;
  flex-shrink: 0;
}
@media (max-width: 767.98px) {
  .contact-us {
    width: 100%;
    margin-right: 0;
  }
}
@media (max-width: 767.98px) {
  .contact-us {
    width: 100%;
  }
}
.contact-us__title {
  font-family: "Nunito", sans-serif;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2;
}
.contact-us__desc {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  font-size: 1.4rem;
  line-height: 1.8571428571;
  color: #7e7e7e;
}
.contact-us__form {
  padding-left: 15px;
}
.contact-us__form__title {
  font-family: "Nunito", sans-serif;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2;
}
.contact__info__item {
  display: flex;
  margin: 20px 0;
  align-items: center;
  gap: 15px;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
  color: #34406c;
}
.contact__info__item > svg {
  height: 16.8px;
  fill: #39b9eb;
}

.form {
  margin-top: 20px;
}
.form-row {
  display: flex;
  gap: 30px;
}
@media (max-width: 767.98px) {
  .form-row {
    flex-direction: column;
  }
}
.form-row + .form-row {
  margin-top: 30px;
}
.form-col {
  width: 100%;
}
.form-submit {
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .form-submit {
    max-width: 150px;
  }
}
.form-input {
  display: flex;
  align-items: center;
  padding: 6px 18px 6px 12px;
  width: 100%;
  height: 50px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  background-color: transparent;
  font-family: Poppins, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #495057;
}
.form-input:focus {
  outline: 0;
  background-color: #fff;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  color: #495057;
}
.form-input__textarea {
  resize: vertical;
  padding: 6px 12px;
  width: 100%;
  height: 240px;
  background-color: transparent;
  border: 1px solid #ced4da;
  border-radius: 6px;
  font-family: Poppins, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #495057;
}

hr {
  margin: 16px 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.partners {
  padding-bottom: 80px;
}

.slick__list {
  display: flex;
  overflow: hidden;
  margin: 0 -15px;
}
.slick__item {
  flex-shrink: 0;
  width: 20%;
  padding: 0 15px;
  filter: grayscale(100%);
}
@media (max-width: 991.98px) {
  .slick__item {
    width: 25%;
  }
}
@media (max-width: 767.98px) {
  .slick__item {
    width: 50%;
  }
}
.slick__item:hover {
  filter: grayscale(0%);
}
.slick__item__img {
  display: block;
  width: 100%;
  object-fit: contain;
}

.footer {
  position: relative;
  padding-top: 80px;
  margin-top: 70px;
  background-color: #39bfee;
}
.footer-top {
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}
@media (max-width: 767.98px) {
  .footer-top {
    max-width: 100%;
  }
}
.footer-top__logo {
  position: absolute;
  top: -65px;
  left: 0;
  width: 100%;
}
.footer-top__desc {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  line-height: 1.8571428571;
  color: #fff;
}
.footer-logo {
  height: 130px;
  width: 130px;
  display: block;
  margin: 0px auto 0;
  padding: 30px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 -6px 26px rgba(146, 90, 164, 0.15);
  position: relative;
  z-index: 2;
}
.footer-row {
  display: flex;
  gap: 30px;
}
@media (max-width: 767.98px) {
  .footer-row {
    flex-direction: column;
    align-items: center;
  }
}
.footer-col {
  width: 33.3333333333%;
  text-align: center;
  color: #fff;
}
.footer-icon > svg {
  width: 28px;
  height: 28px;
  fill: #fff;
}
.footer__title {
  margin: 10px 0 10px;
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2;
  color: white;
}
.footer__link {
  font-family: Poppins, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.625;
}

.logo__icon {
  max-width: 70px;
}

.copyrigt_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  margin-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}
@media (max-width: 767.98px) {
  .copyrigt_text {
    flex-direction: column-reverse;
  }
}
.copyrigt_text span {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8571428571;
}

.social_list {
  display: flex;
  justify-self: center;
  gap: 10px;
  margin-right: 5px;
}
@media (max-width: 767.98px) {
  .social_list {
    margin-bottom: 20px;
  }
}
.social_list li > a {
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 0;
  background: #fff;
  border-radius: 50%;
  color: #39bfee;
  transition: all ease 0.4s;
}
.social_list li > a > svg {
  fill: #39b9eb;
  rotate: 0deg;
  transition: rotate 0.5s ease;
}
.social_list li > a:hover svg {
  rotate: 360deg;
}

/*# sourceMappingURL=main.css.map */
